<?php

# We set the default timezone here so that you can safely use the PHP
# date() function inside the config elements below, should you desire.
date_default_timezone_set('America/New_York');

$config = array(
    # the URL of our site, with trailing slash.
    'base_url' => 'https://' . $_SERVER['HTTP_HOST'] .'/',

    # where this micropub endpoint is, with trailing slash.
    'micropub_url' => 'micropub/',

    # the base path of the site's docroot, with trailing slash
    'base_path' => '/var/www/html/',

    # the name of the sub-directory for images, with trailing slash.
    'upload_path' => 'images/' . date('Y/m/'),

    # the max pixel width of uploaded images (0 or less to disable).
    'max_image_width' => 800,

    # the pixel width of uploaded image thumbnails.
    'thumbnail_width' => 400,

    # frontmatter formatting.
    #
    # we will call `normalize_${format}_frontmatter` on the microformats2
    # properties found in the request which, by default, turns all array
    # properties with only 1 item into a scalar property, except for 'photo'
    # which it keeps as an array. also, 'title' is assigned 'name'.
    #
    # we will call `make_${format}_image_frontmatter on any provided list
    # of photos which, by default, adds the photo URLs inside an array
    # called 'photo'.
    #
    # we will call `finalize_${format}_frontmatter` to do any final
    # processing on a post's properties which, by default
    #
    'frontmatter_format' => 'default',

    # default slug is hex value of seconds since UNIX epoch.
    'slug_fallback' => dechex(date('U')),

    # the path to the Hugo site.  DO NOT include "content/", we'll handle that.
    # trailing slash required.
    'source_path' => '/var/www/skippy/',

    # how to store various types of content.
    # Supported types are "page" and "data". If unspecified, defaults to
    # data.
    'content_storage_type' => array(
        'article' => 'page'
    ),

    # the structure of URLs for various content types.
    'content_urls' => array(
        'article'     => 'posts/:year/:month/:day/:filename'
    ),

    # different types of content may have different paths.
    # by default, articles are in the root of the /content/ directory, so
    # are not included here.
    # Notes, reposts, replies, etc are being stored as Hugo data files
    # in the /data directory. No need to prepend "/data" to these paths.
    'content_paths' => array(
        'article'     => 'posts/:year/:month/:day/:filename.md',
        'bookmark-of' => 'bookmarks',
        'in-reply-to' => date('Y/m'),
        'like-of'     => 'likes',
        'note'        => date('Y/m'),
        'photo'       => date('Y/m'),
        'repost-of'   => date('Y/m'),
        'rsvp'        => 'rsvp',
    ),

    # I am storing all photos, reposts and replies as notes. So I need a
    # way to tell Hugo to use the "note" templates for these items. This
    # override controls that.
    'content_overrides' => array(
        'in-reply-to' => 'note',
        'photo'       => 'note',
        'repost-of'   => 'note',
    ),

    # whether or not to copy uploaded files to the source /static/ directory.
    'copy_uploads_to_source' => true,

    # an external micropub media endpoint to use.
    # 'media_endpoint' => 'https://example.com/my-media-endpoint/',

    # an array of syndication targets; each of which should contain the
    # necessary credentials.
    'syndication' => array(
        'twitter' => array( 'key'          => 'CONSUMER_KEY',
                            'secret'       => 'CONSUMER_SECRET',
                            'token'        => 'ACCESS_TOKEN',
                            'token_secret' => 'ACCESS_TOKEN_SECRET',
                            'prefix'       => 'I just posted ',
                     ),
    ),

    # some Micropub clients don't set syndication targets for some actions,
    # but we may want to syndicate some stuff all the time.  For each post
    # kind, define an array of mandatory syndication targets.
    'always_syndicate' => array(
        'repost-of'   => array( 'twitter' ),
        'in-reply-to' => array( 'twitter' ),
    ),

    # the IndieAuth token endpoint to use
    'token_endpoint' => 'https://tokens.indieauth.com/token',

    # the command used to build the site
    'command' => '/var/www/bin/hugo --quiet --config /var/www/skippy/config.yaml -s /var/www/skippy/ -d /var/www/html/',
);

return $config;
?>
